* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* nav */
.nav {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1px soild transparent;
}

.border:hover {
    border: 1px solid white;
}

.nav-deliver {
    padding: 10px;
}

.first-line {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 23.5px;
}

.second-line {
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

/* search bar */
.search-bar {
    display: flex;
    height: 38px;
    align-items: center;
}

.search-logo {
    color: white;
    background-color: rgb(255, 174, 0);
    width: 45px;
    height: 37px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.search-select {
    font-size: 0.85rem;
    height: 37px;
    width: 52px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0px;
    background-color: #f3f3f3;
    text-align: center;
}

.search-space {
    width: 740px;
    font-size: 1rem;
    border: 0px;
    height: 35px;
    border-top-right-radius: 0px;
}

.search-bar:hover {
    border: 2px solid rgb(255, 174, 0);
    border-radius: 6px;
}

.same-first {
    color: #ffffff;
    font-size: 0.85rem;
}

.same-second {
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.shopping {
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 17px;
    padding-top: 17px;
}

.orders {
    padding-bottom: 10px;
    padding-top: 10px;
}

.account {
    padding-bottom: 10px;
    padding-top: 10px;
}

/* panel */
.panel {
    width: 100%;
    height: 38px;
    background-color: #25262a;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.menu {
    color: white;
    font-weight: 700;
    margin-right: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.panel-lists {
    display: flex;
    gap: 30px;
    color: white;
}

/* Hero */
.hero {
    background-image: url("hero_image.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
}

.back-img {
    
}

.products {
    display: flex;
    justify-content: space-evenly;
}

.main-product {
    width: 23%;
    height : 400px;
    background-color: red;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-product img {
    height: 70%;
    width: 80%;
    margin-top: 13px;
}

